.post-container {
  background: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin: 0 0.5%;
}
.heading {
  height: 100px;
  text-align: left;
  display: flex;
  align-items: center;
}
.image {
  max-width: 50vw;
  max-height: 100vh;
}

.row {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.col {
  flex: 50%;
  padding: 2%;
  justify-content: center;
  align-items: center;
  display: grid;
}
